@import "../../assets/scss/helpers/breakpoints";
@import './src/assets/scss/helpers/variables';

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  @include sm {
    padding: 1rem;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include sm {
      border-radius: 2rem;
      background: $gray700;
    }
  }

  &__btn {
    padding: .5rem;
    color: $gray500;
    transition: all .2s ease-in-out;
    @include sm {
      padding: .5rem 1rem;
    }
    &--active {
      background: $red;
      color: $white;
      cursor: default;
    }
    &:not(:disabled):hover {
      color: $red;
      background-color: $white;
    }
    &:disabled {
      cursor: default;
    }
  }

  &__dots {
    display: none;
    margin: 0 .5rem;
    color: $gray500;
    @include sm {
      display: inline-flex;
    }
  }
}
