@import './src/assets/scss/helpers/variables';

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-gray;
    border-radius: 2rem;
    overflow: hidden;
  }

  &__btn {
    padding: .5rem 1rem;
    color: $gray;
    transition: all .2s ease-in-out;
    &--active {
      background: $red;
      color: $white;
      cursor: default;
    }
    &:not(:disabled):hover {
      color: $red;
      background-color: $white;
    }
    &:disabled {
      cursor: default;
    }
  }

  &__dots {
    margin: 0 .5rem;
    color: $gray;
  }
}
