.ProfileDropdown {
  display: flex;
  align-items: center;
  &:hover {
    .ProfileDropdown__dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
  .ProfileDropdown {
    &__avatar {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: .25rem;
      border-radius: .25rem;
      background-color: #c9c74e;
    }
    &__arrow {
      padding: .25rem;
    }
    &__dropdown {
      position: absolute;
      top: calc(100% + 1rem);
      right: 0;
      background-color: rgba(0,0,0,.85);
      border: 1px solid #494949;
      border-top: 2px solid #fff;
      color: #fff;
      transition: all .3s ease-in-out;
      visibility: hidden;
      opacity: 0;
      &:before {
        content: '';
        left: 0;
        bottom: 100%;
        position: absolute;
        height: 2rem;
        width: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 1.85rem;
        width: 0;
        height: 0;
        border-left: .55rem solid transparent;
        border-right: .55rem solid transparent;
        border-bottom: .55rem solid #fff;
      }
      &:hover {
        visibility: visible;
        opacity: 1;
      }
      &-list {
        position: relative;
        z-index: 1000;
      }
    }
    &__btn {
      width: 100%;
      padding: .75rem 1rem;
      color: #fff;
      &:not(:last-child) {
        margin-right: 0;
      }
      &:hover {
        &:after {
          width: 85%;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: .5rem;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #e50914;
        transform: translateX(-50%);
        transition: width .2s ease-in-out;
      }
    }
  }
}
