.checkbox {
  margin-right: .5rem;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color:transparent;
  span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    &:first-child {
      position: relative;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: .2rem;
      transform: scale(1);
      vertical-align: middle;
      border: 1px solid #8f8f8f;
      transition: all .2s ease;
      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #1a1a1a;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1rem;
        stroke-dashoffset: 1rem;
        transition: all .3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
      }
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  &:hover span:first-child {
    border-color: #ccc;
  }
  &__wrapper {
    display: flex;
    font-size: .875rem;
    line-height: 1.43;
    letter-spacing: .3px;
  }
  &__input {
    display: none;
  }
  &__text {
    color: #b3b3b3;
    font-size: .81rem;
    font-weight: 500;
    transition: color .3s ease;
    &:hover {
      color: #ccc;
    }
  }
}

.checkbox__input:checked + .checkbox span:first-child {
  background: #ccc;
  border-color: #ccc;
  animation: wave 0.4s ease;
}
.checkbox__input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox__input:checked + .checkbox span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
