.hamburger {
  width: 2.5rem;

  span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
    border-radius: .25rem;
    height: .25rem;
    background: $white;
    transition: all .3s;
    position: relative;
  }

  span + span {
    margin-top: .4375rem;
  }

  span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }

  &--active {
    span:nth-child(1) {
      animation: ease .7s top forwards;
    }
    span:nth-child(2) {
      animation: ease .7s scaled forwards;
    }
    span:nth-child(3) {
      animation: ease .7s bottom forwards;
    }
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: .6875rem;
    transform: rotate(0);
  }
  100% {
    top: .6875rem;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: .6875rem;
    transform: rotate(45deg);
  }
  50% {
    top: .6875rem;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: .6875rem;
    transform: rotate(0);
  }
  100% {
    bottom: .6875rem;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: .6875rem;
    transform: rotate(135deg);
  }
  50% {
    bottom: .6875rem;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
