@import "../../assets/scss/helpers/variables";

.MovieLabels {
  &__rate {
    margin-right: .5rem;
    &--green {
      color: $green;
    }
    &--yellow {
      color: $yellow;
    }
    &--red {
      color: $red;
    }
  }
}
