@import "../../assets/scss/helpers/variables";

.MovieListItem {
  height: 28rem;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    .MovieListItem__details {
      opacity: 1;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 1rem;
    opacity: 0;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, .7);
  }

  &__title {
    margin: 0 0 .75rem 0;
    font-size: 1.5rem;
  }

  &__overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $white;
  }
}
