.MovieSliderItem {
  margin: 0 .25rem;
  height: 10rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid transparent;
  border-bottom: none;
  opacity: .3;
  &:hover {
    opacity: 1;
    .MovieSliderItem__details {
      visibility: visible;
      opacity: 1;
    }
  }
  &__details {
    padding: .5rem 1rem 2rem 1rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, transparent);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &--selected {
    opacity: 1;
    border-color: #fff;
    .MovieSliderItem__details {
      visibility: visible;
      opacity: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      width: 0;
      height: 0;
      left: 50%;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: .75rem solid #fff;
      transform: translateX(-50%);
    }
  }
}

.MovieSliderItem--hover {
  padding-bottom: 1rem;
}
