@import "../../assets/scss/helpers/breakpoints";
@import "../../assets/scss/helpers/variables";

.Header {
  position: fixed;
  top: 0;
  z-index: $z-index-header;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "logo nav actions"
    "search search search";
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  transition: background-color .2s ease-in-out;
  @include sm {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas:
      "logo nav search actions";
    padding: 1rem 2rem;
  }

  .hamburger {
    z-index: $z-index-nav;
    display: block;
    margin-left: .5rem;
    transform: scale(.8);
    @include md {
      display: none;
    }
  }

  &--bg {
    background-color: $gray900;
  }

  &--un {
    position: absolute;
    top: 0;
    z-index: $z-index-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    @include lg {
      padding: 2rem 3rem;
    }
  }

  &__logo {
    grid-area: logo;
    width: 5.6rem;
    height: 1.7rem;
    fill: $red;
    @include sm {
      margin-right: 1rem;
    }
    &--un {
      @include sm {
        width: 10.5rem;
        height: 2.9rem;
      }
    }
  }

  &__nav {
    position: fixed;
    grid-area: nav;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-modal;
    width: 0;
    display: flex;
    justify-content: center;
    background-color: $gray900;
    transition: width .6s ease-in-out;
    overflow: hidden;
    @include md {
      z-index: unset;
      position: relative;
      display: block;
      background-color: transparent;
      overflow: visible;
    }
    &--opened {
      width: 100%;
      .Header__nav-list {
        transition: opacity .6s ease-in-out;
        opacity: 1;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 5rem 1.5rem 2rem;
      text-align: center;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      white-space: nowrap;
      @include md {
        flex-direction: row;
        padding: 0;
        text-align: left;
        opacity: 1;
        transition: none;
      }
    }
    &-item {
      margin-bottom: 1rem;
      @include md {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 1.25rem;
        }
      }
      &:hover {
        .dropdown {
          @include md {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    &-link {
      font-size: 1.25rem;
      color: $white;
      &:hover {
        color: $gray300;
      }
      @include md {
        font-size: 1rem;
      }
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__search {
    grid-area: search;
    padding: .35rem .5rem;
    background-color: $black;
    border: 1px solid $white;
    @include sm {
      background-color: transparent;
      border: none;
    }
    &--active,
    &:focus-within {
      background-color: $black;
      border: 1px solid $white;
      .Header__search-icon {
        margin-right: .75rem;
      }
      .Header__search-input {
        @include sm {
          width: 13rem;
        }
        @include md {
          width: 16rem;
        }
      }
    }
    &-icon {
      margin-right: .75rem;
      font-size: 1.1rem;
      cursor: pointer;
      @include sm {
        margin-right: 0;
      }
    }
    &-input {
      width: 100%;
      color: $white;
      font-size: .875rem;
      line-height: 1rem;
      background-color: transparent;
      border: 0;
      @include sm {
        width: 0;
      }
      &--active,
      &:focus {
        @include sm {
          width: 13rem;
        }
        @include md {
          width: 16rem;
        }
      }
    }
  }
}
