@import "../../assets/scss/helpers/variables";

.MyList {
  &__empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $gray600;
  }
}