.SignUp {
  .bg {
    background-position: left;
  }
  .SignUp {
    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 3.75rem 4.25rem 2.5rem;
      background-color: rgba(0,0,0,.75);
      min-width: 28rem;
      transform: translate(-50%, -50%);
      border-radius: .25rem;
    }
    &__title {
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1.6rem;
    }
    &__btn {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: .5rem;
      padding: .9rem;
      font-weight: bold;
    }
    &__required {
      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
        margin: .5rem 0 .75rem 0;
      }
      &-item {
        position: relative;
        padding-left: .7rem;
        transition: all .2s ease-in-out;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 35%;
          width: .4rem;
          height: .4rem;
          border-radius: 50%;
          background-color: #dc0913;
          transition: all .2s ease-in-out;
        }
        &--done {
          color: #737373;
          &:before {
            background-color: #737373;
          }
          & .SignUp__required-text:after {
            left: 0;
            right: 0;
          }
        }
      }
      &-text {
        position: relative;
        font-size: .725rem;
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          left: 50%;
          right: 50%;
          top: 55%;
          background-color: #737373;
          transition: all .2s ease-in-out;
        }
      }
    }
  }
}
