// Screen sizes
$screen-sm: 576;
$screen-md: 768;
$screen-lg: 992;
$screen-xl: 1200;

// Max content (container) width
$content-xs: 100%;
$content-sm: $content-xs;
$content-md: $content-sm;
$content-lg: 1000px;
$content-xl: $content-lg;

