$white: #ffffff;
$black: #000000;
$gray200: #cccccc;
$gray300: #a3a2a2;
$gray400: #b3b3b3;
$gray500: #8c8c8c;
$gray600: #737373;
$gray700: #454545;
$gray800: #333333;
$gray900: #1a1a1a;
$yellow: #f1c40f;
$orange: #e87c03;
$red: #e50914;
$blue: #3498db;
$purple: #9b59b6;
$green: #2ecc71;

$primary-btn: #dc0913;
$primary-btn-hover: #f40612;

$z-index-dropdown: 50;
$z-index-header: 150;
$z-index-modal: 200;
$z-index-nav: 250;
